/* Simple code that makes my life easier */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #868686;
}

/* ----------------------------------------------------------- */
/* ---- Navigation bar  ---- */
.header {
        font-family:  'Roboto Condensed', 'Lato', Arial, sans-serif!important;
        font-size: 25px;
        letter-spacing: 3px; 
        text-align: center;
        color:black;
        padding: 15px; /* Adds padding to the navigation bar */
}

img {
        width: 330px;
        height: 330px;
        display: block;
        margin: auto;
}
/* ----------------------------------------------------------- */
/* ---- Home  ---- */

.socials {
        padding-top: 20px;
        text-align: center;
        font-family:  'Roboto Condensed', 'Lato', Arial, sans-serif!important;
        font-size: 30px;
        letter-spacing: -1px;
}

.socials p a {
        color: black; /* Set the color explicitly to black */
        text-decoration: none; /* Remove default underline */
}
    
.socials p a:hover {
        text-decoration: underline;
}

.edvinPic {
        margin-top: 20px;
        width: 190px;
        height: 190px;
}

.button-container {
        text-align: center; /* Center the buttons horizontally */
        margin-top: 5px; /* Adjust this margin as needed */
}
    
    /* Style the buttons */
.button-container button {
        margin: 0 10px; /* Add space between buttons */
        font-size: 24px; /* Adjust button font size */
        cursor: pointer;
        border:none;
}

.edvinName {
        text-align: center;
        margin-top: 10px;
        font-size: 35px;
        font-family: 'Roboto Condensed', 'Lato', Arial, sans-serif!important;
}

/* make it compatible with phones and others */
@media (max-width: 600px) {
}