/* Simple code that makes my life easier */
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #868686;
}        

/* ----------------------------------------------------------- */
/* ---- Navigation bar  ---- */
.header {
        font-family:  'Roboto Condensed', 'Lato', Arial, sans-serif!important;
        font-size: 25px;
        letter-spacing: 3px; 
        text-align: center;
        color:black;
        padding: 15px; /* Adds padding to the navigation bar */
}

img {
        width: 330px;
        height: 330px;
        display: block;
        margin: auto;
}
/* ----------------------------------------------------------- */
/* ---- Home  ---- */

.socials {
        padding-top: 20px;
        text-align: center;
        font-family:  'Roboto Condensed', 'Lato', Arial, sans-serif!important;
        font-size: 25px;
        letter-spacing: -1px;
}

.socials p a {
        color: black; 
        text-decoration: none; /* Remove default underline */
}
    
.socials p a:hover {
        text-decoration: underline;
}

.image-container {
        width: 80%; /* Set the desired width */
        max-width: 400px; /* Limit the maximum width */
        margin: 0 auto; /* Center the container horizontally */
        padding: 20px; /* Add some padding around the container */
        text-align: center; /* Center align the contents */
}

/* Adjustments for the images inside the container */
.image-container img {
        max-width: 100%; /* Make images responsive within the container */
        height: 190px; /* Maintain aspect ratio */
        width: 190px;
}

.button-container {
        text-align: center;
        white-space: nowrap;
}
    
    /* Style the images */
.button-container img {
        margin: 0 10px;
        display: inline;
        cursor: pointer;
}

.edvinName {
        text-align: center;
        margin-top: 10px;
        font-size: 35px;
        font-family: 'Roboto Condensed', 'Lato', Arial, sans-serif!important;
}

/* make it compatible with phones and others */
@media only screen and (max-width: 600px) {
        .background-container {
                background-position: center bottom 27px;
        }

        .header {
                font-size: 20px;
        }

        img {
                width: 280px;
                height: 280px;   
        }

        .socials {
                font-size: 24px;
        }

        .edvinName {
                font-size: 27px;
        }
}

@media only screen and (min-width: 601px) and (max-width: 767px) {
        .background-container {
                background-position: center bottom 27px;
        }

        .header {
                font-size: 20px;
        }

        img {
                width: 285px;
                height: 285px;   
        }

        .socials {
                font-size: 24px;
        }

        .edvinName {
                font-size: 27px;
        }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
        .background-container {
                background-position: center bottom 27px;
        }

        .header {
                font-size: 20px;
        }

        img {
                width: 287px;
                height: 287px;   
        }

        .socials {
                font-size: 24px;
        }

        .edvinName {
                font-size: 27px;
        }
}

@media (min-width: 992px) and (max-width: 1199px) {
        .background-container {
                background-size: 344px 540px;
                background-position: center bottom 23px;
        }

        .header {
                font-size: 25px;
        }

        img {
                width: 290px;
                height: 290px;   
        }

        .socials {
                font-size: 25px;
        }

        .edvinPic {
                width: 200px;
                height: 200px;
        }

        .button-container button {
                font-size: 20px;
        }

        .edvinName {
                font-size: 30px;
        }
}